body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

a {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: black;
	padding-left: 1em;
	padding-right: 1em;
}


h3 {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1em;
}

p {
	font-family: 'Helvetica';
	line-height: 120%;
}


.head {
	background-color: white;
	text-align: center;
	padding: 2em;
	box-shadow: 0.3em 0.3em 10px black;
	opacity: 0.9;
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
}

.home {
	margin-top: 20em;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-top: 6em;
	padding-bottom: 5em;
	text-align: center;
}

.about {
	margin-top: 20em;
	text-align: center;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 6em;
	padding-bottom: 5em;
}

.mywork {
	margin-top: 20em;
	text-align: center;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 6em;
	padding-bottom: 5em;

}

.contact {
	margin-top: 20em;
	text-align: center;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-left: 20%;
	padding-right: 20%;
}

.hidden {
	display: none;
}