body {
	background-image: url(edit13HDR.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: black;
	padding-left: 1em;
	padding-right: 1em;
}


h3 {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0.7em;
}

p {
	font-family: 'Helvetica';
	line-height: 120%;
}

img {
	padding: 0.4em;
}

@font-face {
  font-family: 'Across the Road';
  src: url('http://www.fontsaddict.com/fontface/across-the-road.ttf');
}

.quote {
	font-family: 'Across the road';
	font-size: 2.5em;
	margin-top: -1.5em;
}

.head {
	background-color: white;
	text-align: center;
	padding: 2em;
	box-shadow: 0.3em 0.3em 10px black;
	opacity: 0.9;
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
}

.home {
	margin-top: 20em;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-top: 5em;
	padding-bottom: 5em;
	text-align: center;
}

.about {
	margin-top: 20em;
	text-align: center;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 7em;
	padding-bottom: 5em;
}

.mywork {
	margin-top: 20em;
	text-align: center;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 7em;
	padding-bottom: 5em;
}

.contact {
	margin-top: 20em;
	text-align: center;
	background-color: white;
	padding: 2em;
	box-shadow: 0em 0.1em 10px black;
	padding-left: 20%;
	padding-right: 20%;
}

.photoshop, .photography, .illustrator {
	padding-top: 7em;
}

.hidden {
	display: none;
}

ul li {
  	display: inline-block;
  	position: relative;
  	padding: 10px 15px;
}

ul li ul {
  	position: absolute;
  	top: 35px;
  	left: 0;
  	width: 9em;
  	box-shadow: 0em 0.2em 0.4em black;
  	display: none;
}
ul li ul li { 
  	background: white; 
  	display: block;
}

ul li ul li:hover {
	background-color: lightgrey;
}

ul li:hover ul {
  	display: block;
}


@media (max-width: 600px) {

	body {
		background-image: url(edit17.jpg);
	}

	ul li {
		display: block;
		text-align: center;
	}

	img {
		width: 100%;
		padding: 2em;


	}

}